body
{
    width :80% ;
    margin : auto;
}
#pname{
    text-align:center;
}
hr{
    height: 4px;
    background-color:green;
}

h3{
    width:100%;
    background-color: gray;
}
table th{
    background-color: green;
  
}



table th,td{
    border-bottom: 1px solid gray;
    border:1px solid black;
}